/*=========================
  Modal
 ================= */
.modal-backdrop
{

    background-color: mediumpurple;
}
/*=== 2. Anchor Link ===*/
a {
    color: #aaaaaa;
    transition: all ease-in-out 200ms;
}
a:hover {
    color: #333333;
    text-decoration: none;
}
/*=== 3. Text Outside the Box ===*/
.etc-login-form {
    color: #919191;
    padding: 10px 20px;
}
.etc-login-form p {
    margin-bottom: 5px;
}
/*=== 4. Main Form ===*/
.login-form-1 {
    max-width: 300px;
    border-radius: 5px;
    display: inline-block;
}
.main-login-form {
    position: relative;
}
.login-form-1 .form-control {
    border: 0;
    box-shadow: 0 0 0;
    border-radius: 0;
    background: transparent;
    color: #555555;
    padding: 7px 0;
    font-weight: bold;
    height:auto;
}
.login-form-1 .form-control::-webkit-input-placeholder {
    color: #999999;
}
.login-form-1 .form-control:-moz-placeholder,
.login-form-1 .form-control::-moz-placeholder,
.login-form-1 .form-control:-ms-input-placeholder {
    color: #999999;
}
.login-form-1 .form-group {
    margin-bottom: 0;
    border-bottom: 2px solid #efefef;
    padding-right: 20px;
    position: relative;
}
.login-form-1 .form-group:last-child {
    border-bottom: 0;
}
.login-group {
    background: #ffffff;
    color: #999999;
    border-radius: 8px;
    padding: 10px 20px;
}
.login-group-checkbox {
    padding: 5px 0;
}
/*=== 5. Login Button ===*/
.login-form-1 .login-button {
    position: absolute;
    right: -25px;
    top: 50%;
    background: #ffffff;
    color: #999999;
    padding: 11px 0;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    border: 5px solid #efefef;
    border-radius: 50%;
    transition: all ease-in-out 500ms;
}
.login-form-1 .login-button:hover {
    color: #555555;
    transform: rotate(450deg);
}
.login-form-1 .login-button.clicked {
    color: #555555;
}
.login-form-1 .login-button.clicked:hover {
    transform: none;
}
.login-form-1 .login-button.clicked.success {
    color: #2ecc71;
}
.login-form-1 .login-button.clicked.error {
    color: #e74c3c;
}
/*=== 6. Form Invalid ===*/
label.form-invalid {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    display: block;
    margin-top: -25px;
    padding: 7px 9px;
    background: #777777;
    color: #ffffff;
    border-radius: 5px;
    font-weight: bold;
    font-size: 11px;
}
label.form-invalid:after {
    top: 100%;
    right: 10px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-top-color: #777777;
    border-width: 6px;
}
/*=== 7. Form - Main Message ===*/
.login-form-main-message {
    background: #ffffff;
    color: #999999;
    border-left: 3px solid transparent;
    border-radius: 3px;
    margin-bottom: 8px;
    font-weight: bold;
    height: 0;
    padding: 0 20px 0 17px;
    opacity: 0;
    transition: all ease-in-out 200ms;
}
.login-form-main-message.show {
    height: auto;
    opacity: 1;
    padding: 10px 20px 10px 17px;
}
.login-form-main-message.success {
    border-left-color: #2ecc71;
}
.login-form-main-message.error {
    border-left-color: #e74c3c;
}
/*=== 8. Custom Checkbox & Radio ===*/
/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked,
[type="radio"]:not(:checked),
[type="radio"]:checked {
    position: absolute;
    left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label,
[type="radio"]:not(:checked) + label,
[type="radio"]:checked + label {
    position: relative;
    padding-left: 25px;
    padding-top: 1px;
    cursor: pointer;
}
/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before,
[type="radio"]:not(:checked) + label:before,
[type="radio"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 17px;
    height: 17px;
    border: 0px solid #aaa;
    background: #f0f0f0;
    border-radius: 3px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after,
[type="radio"]:not(:checked) + label:after,
[type="radio"]:checked + label:after {
    position: absolute;
    color: #555555;
    transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after,
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}
[type="checkbox"]:checked + label:after,
[type="radio"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before,
[type="radio"]:disabled:not(:checked) + label:before,
[type="radio"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #8c8c8c;
    background-color: #878787;
}
[type="checkbox"]:disabled:checked + label:after,
[type="radio"]:disabled:checked + label:after {
    color: #555555;
}
[type="checkbox"]:disabled + label,
[type="radio"]:disabled + label {
    color: #8c8c8c;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before,
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
    border: 1px dotted #f6f6f6;
}
/* hover style just for information */
label:hover:before {
    border: 1px solid #f6f6f6 !important;
}
/*=== Customization ===*/
/* radio aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
    border-radius: 3px;
}
[type="radio"]:not(:checked) + label:before,
[type="radio"]:checked + label:before {
    border-radius: 35px;
}
/* selected mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    content: '✔';
    top: 0;
    left: 2px;
    font-size: 14px;
}
[type="radio"]:not(:checked) + label:after,
[type="radio"]:checked + label:after {
    content: '\2022';
    top: 0;
    left: 3px;
    font-size: 30px;
    line-height: 25px;
}
/*=== 9. Misc ===*/
.logo {
    padding: 15px 0;
    font-size: 25px;
    color: #aaaaaa;
    font-weight: bold;
}

/*=========================
  Comments
 ================= */

.widget .panel-body { padding:0px; }
.widget .list-group { margin-bottom: 0; }
.widget .panel-title { display:inline }
.widget .label-info { float: right; }
.widget li.list-group-item {border-radius: 0;border: 0;border-top: 1px solid #ddd;}
.widget li.list-group-item:hover { background-color: rgba(86,61,124,.1); }
.widget .mic-info { color: #666666;font-size: 11px; }
.widget .action { margin-top:5px; }
.widget .comment-text { font-size: 12px; }
.widget .btn-block { border-top-left-radius:0px;border-top-right-radius:0px; }


/*=========================
  Icons Social Media
 ================= */

/* footer social icons */
ul.social-network {
    list-style: none;
    display: inline;
    margin-left:0 !important;
    padding: 0;
}
ul.social-network li {
    display: inline;
    margin: 0 5px;
}


/* footer social icons */
.social-network a.icoRss:hover {
    background-color: #F56505;
}
.social-network a.icoFacebook:hover {
    background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
    background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
    background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
    background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
    background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
    color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
    color:#44BCDD;
}

.social-circle li a {
    display:inline-block;
    position:relative;
    margin:0 auto 0 auto;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius:50%;
    text-align:center;
    width: 50px;
    height: 50px;
    font-size:20px;
}
.social-circle li i {
    margin:0;
    line-height:50px;
    text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}
.social-circle i {
    color: #fff;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}
/*=========================
  Comments
 ================= */
#login { display: none; }
.login,
.logout {
    position: absolute;
    top: -3px;
    right: 0;
}
.page-header { position: relative; }
.reviews {
    color: #555;
    font-weight: bold;
    margin: 10px auto 20px;
}
.notes {
    color: #999;
    font-size: 12px;
}
.media .media-object { max-width: 60px; }
.media-body { position: relative; }
.media-date {
    position: absolute;
    right: 25px;
    top: 25px;
}
.media-date li { padding: 0; }
.media-date li:first-child:before { content: ''; }
.media-date li:before {
    content: '.';
    margin-left: -2px;
    margin-right: 2px;
}
.media-comment { margin-bottom: 20px; }
.media-replied { margin: 0 0 20px 50px; }
.media-replied .media-heading { padding-left: 6px; }

.btn-circle {
    font-weight: bold;
    font-size: 12px;
    padding: 6px 15px;
    border-radius: 20px;
}
.btn-circle span { padding-right: 6px; }
.embed-responsive { margin-bottom: 20px; }
.tab-content {
    padding: 50px 15px;
    border: 1px solid #ddd;
    border-top: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.custom-input-file {
    overflow: hidden;
    position: relative;
    width: 120px;
    height: 120px;
    background: #eee url('https://s3.amazonaws.com/uifaces/faces/twitter/walterstephanie/128.jpg');
    background-size: 120px;
    border-radius: 120px;
}
input[type="file"]{
    z-index: 999;
    line-height: 0;
    font-size: 0;
    position: absolute;
    opacity: 0;
    filter: alpha(opacity = 0);-ms-filter: "alpha(opacity=0)";
    margin: 0;
    padding:0;
    left:0;
}
.uploadPhoto {
    position: absolute;
    top: 25%;
    left: 25%;
    display: none;
    width: 50%;
    height: 50%;
    color: #fff;
    text-align: center;
    line-height: 60px;
    text-transform: uppercase;
    background-color: rgba(0,0,0,.3);
    border-radius: 50px;
    cursor: pointer;
}
.custom-input-file:hover .uploadPhoto { display: block; }

/*=========================
  article
 ================= */


.content {
    padding: 30px;
    background: #f1f3fa;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

/* Portlet */
.portlet {
    background: #fff;
    padding: 20px;
}

.portlet.portlet-gray {
    background: #f7f7f7;
}

.portlet.portlet-bordered {
    border: 1px solid #eee;
}

/* Portlet Title */
.portlet-title {
    padding: 0;
    min-height: 40px;
    border-bottom: 1px solid #eee;
    margin-bottom: 18px;
}

.caption {
    float: left;
    display: inline-block;
    font-size: 18px;
    line-height: 18px;
}

.caption.caption-red .caption-subject,
.caption.caption-red i {
    color: #8775a7;
    font-weight: 200;
}

.caption i {
    color: #777;
    font-size: 15px;
    font-weight: 300;
    margin-top: 3px;
}

.caption-subject {
    color: #666;
    font-size: 16px;
    font-weight: 600;
}

.caption-helper {
    padding: 0;
    margin: 0;
    line-height: 13px;
    color: #9eacb4;
    font-size: 13px;
    font-weight: 400;
}

/* Actions */
.actions {
    float: right;
    display: inline-block;
}

.actions a {
    margin-left: 3px;
}

.actions .btn {
    color: #666;
    padding: 3px 9px;
    font-size: 13px;
    line-height: 1.5;
    background-color: #fff;
    border-color: #ccc;
    border-radius: 50px;
}

.actions .btn i {
    font-size: 12px;
}

.actions .btn:hover {
    background: #f2f2f2;
}

/* Pagination */
.pagination {
    margin: -3px 0 0;
    border-radius: 50px;
}

.pagination > li > a,
.pagination > li > span {
    padding: 4px 10px;
    font-size: 12px;
    color: #8775a7;
    background: #f7f7f7;
}

.pagination > li:hover > a,
.pagination > li.active > a,
.pagination > li.active:hover > a {
    color: #fff;
    background: #8775a7;
    border-color: #8775a7;
}

/* Inputs */
.inputs {
    float: right;
    display: inline-block;
    padding: 4px 0;
    margin-top: -10px;
}

.input-inline {
    width: 240px;
    display: inline-block;
    vertical-align: middle;
}

/* Tab */
.portlet-title > .nav-tabs {
    background: none;
    margin: 0;
    float: right;
    display: inline-block;
    border: 0;
}

.portlet-title > .nav-tabs > li {
    background: none;
    margin: 0;
    border: 0;
}

.portlet-title > .nav-tabs > li > a {
    background: none;
    border: 0;
    padding: 2px 10px 13px;
    color: #444;
}

.portlet-title > .nav-tabs > li.active,
.portlet-title > .nav-tabs > li.active:hover {
    border-bottom: 4px solid #8775a7;
    position: relative;
}

.portlet-title > .nav-tabs > li:hover {
    border-bottom: 4px solid mediumpurple;

}

.portlet-title > .nav-tabs > li.active > a,
.portlet-title > .nav-tabs > li:hover > a {
    color: #333;
    background: #fff;
    border: 0;
}

/* Btn Circle */
.actions .btn.btn-circle {
    width: 28px;
    height: 28px;
    padding: 3px 7px;
    text-align: center;
}

.actions .btn.btn-circle i {
    font-size: 11px;
}

/* Btn Grey Salsa */
.actions .btn.grey-salsa {
    border: none;
    margin-left: 3px;
    box-shadow: none;
    border-radius: 50px !important;
}

.actions .btn.grey-salsa.active {
    color: #fafcfb;
    background: #8e9bae;
}
.actions .grey-salsa.btn:hover,
.actions .grey-salsa.btn:focus,
.actions .grey-salsa.btn:active,
.actions .grey-salsa.btn.active {
    color: #fafcfb;
    background: #97a3b4;
}

/* Btn Red */
.actions .btn.btn-red.active,
.actions .btn.btn-red:hover {
    color: #fff;
    box-shadow: none;
    background: #8775a7;
    border-color: #8775a7;
}

/* Btn Red */
.actions .btn.btn-purple.active,
.actions .btn.btn-purple:hover {
    color: #fff;
    box-shadow: none;
    background: #8775a7;
    border-color: #8775a7;
}



